.card-cases {
    // width: 192px;
    height: 100px;
    background: #ffffff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10.5209px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    .case-context {
        display: flex;
        flex-direction: column;
        .para {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 12.3925px;
            line-height: 19px;
            /* identical to box height */

            display: flex;
            align-items: center;

            color: #000000;
        }
        .count {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 19.0156px;
            line-height: 29px;
            /* identical to box height */

            display: flex;
            align-items: center;

            color: #53586c;
        }
    }
    .ant-progress-inner {
        max-height: 60px;
        max-width: 60px;
    }
}
.card-cases-avail {
    width: 150px;
    background: #ffffff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10.5209px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0.77rem 2rem;
    .case-context {
        .para {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 12.3925px;
            line-height: 19px;
            /* identical to box height */

            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.27rem;

            color: #000000;
            &::after {
                content: " ";
                display: block;
                width: 40px;
                height: 3px;
                border-radius: 2px;
            }
        }
        .today {
            &::after {
                border: 2px solid #05d4af;
            }
        }
        .week {
            &::after {
                border: 2px solid #0288d1;
            }
        }
        .month {
            &::after {
                border: 2px solid #fa8a6b;
            }
        }
    }

    .count {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 19.0156px;
        line-height: 29px;
        /* identical to box height */

        display: flex;
        align-items: center;

        color: #53586c;
    }
}

.card-cases-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 19.6495px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: #000000;
    margin-left: 1rem;
}
