.wrapperDiv-errorMsg{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .errorWrapper{
        border: 1px solid #F9CA26;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        .button{
            min-width: 13.25rem;
        }
        .description{
            padding: .3rem;
            text-align: center;
        }
    }
}

.errorTextColor{
    color: #F9CA26;
}

.alignCenter{
    text-align: center;
}